# Binaries
**/Bin/
*.log
*.tlog
*.obj
*.recipe
**/tmp/
!Vendor/Premake/Bin/
!Vendor/spdlog/Bin/
!Prism-Core/Platform/SDL/Vender/SDL/Bin
!Prism-Core/Platform/SDL/Vender/assimp/Bin

# Intermediate
**/Int/
**/Logs/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user
