# Binaries
**/bin/
*.log
*.tlog
*.obj
*.recipe
**/tmp/
Sandbox/RunSandbox-*.bat

# Intermediate
**/int/
**/logs/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.DotSettings.user
**.user
out/
enc_temp_folder/

# JetBrains IDE files
.idea/

# vcpkg
**/vcpkg_installed/